<app-title-header [title]="'LISTA DE ZONAS'"></app-title-header>

<div style="padding: 2rem 0 2rem 0;">
  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Nueva Zona</span></button>
</div>

<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzLoading]="loading">
  <thead>
    <tr>
      <th nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Descripción</th>
      <th>C. Empleados</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{data.zonas}}</td>
      <td>{{data.descripcion}}</td>
      <td>{{data.cantidadEmpleados}}</td>
      <td>{{data.estado == 1?"Activo":"Inactivo"}}</td>
      <td>
        <button nz-button nzType="default" (click)="editZona(data.idZona)">Editar</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzDanger (click)="deleteZona(data.idZona)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- Modal Crear Nueva Zona-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Nueva Zona" nzWidth="600px" nzAutofocus="'ok'"
  (nzOnCancel)="handleCancel()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnOk)="handleOk()">
  <ng-template #modalTitle>
    REGISTRO DE ZONA
  </ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()" [nzLayout]="'horizontal'">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="zonas" nzRequired>Nombre</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="zonas" formControlName="zonas">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="descripcion" nzRequired>Descripción</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="descripcion" formControlName="descripcion" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cantidadEmpleados">Cantidad Empleados</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="number" formControlName="cantidadEmpleados" id="cantidadEmpleados" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class=" register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Registrar</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>

<!--  Modal editar -->
<nz-modal [(nzVisible)]="isVisibleEdit" nzTitle="Editar Zona" nzWidth="600px" nzAutofocus="'ok'"
  (nzOnCancel)="handleCancelEdit()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnOk)="handleOkEdit()">
  <ng-template #modalTitle>
    EDITAR DE ZONA
  </ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmitEdit()" [nzLayout]="'horizontal'">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="zonas" nzRequired>Nombre</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="zonas" formControlName="zonas">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="descripcion" nzRequired>Descripción</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="descripcion" formControlName="descripcion" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cantidadEmpleados">Cantidad Empleados</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="number" formControlName="cantidadEmpleados" id="cantidadEmpleados" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sexo">Estado</nz-form-label>
        <nz-select formControlName="sexo" class="phone-select">
          <nz-option nzLabel="Activo" nzValue="1"></nz-option>
          <nz-option nzLabel="Inactivo" nzValue="2"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item nz-row class=" register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Registrar</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>
