<nz-layout class="app-layout">
  <!-- *ngIf="currentUser" -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="../../../assets/imagenes/logo.png" alt="logo">
        <h1>SISGEM v1.0</h1>
      </a>
    </div>
    <div nz-row style="padding:1.5rem 0.5rem 1.5rem 0.5rem;" nzJustify="center">
      <div>
        <nz-avatar [nzSize]="64" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
        </nz-avatar>
      </div>
    </div>
    <div nz-row style="padding:1rem 0.5rem 1rem 0.5rem;">
      <div nz-col nzXs="12" nzXl="12" style="text-align: center;">
        <button nz-button nzType="primary" nzShape="circle" routerLink="/dashboard/perfil">
          <i nz-icon nzType="user" nzTheme="outline" style="font-size: 1rem;"></i>
        </button>
      </div>
      <div nz-col nzXs="12" nzXl="12" style="text-align: center;">
        <button nz-button nzType="primary" nzShape="circle" nzDanger (click)="logout()">
          <i nz-icon nzType="logout" nzTheme="outline" style="font-size: 1rem;"></i>
        </button>
      </div>
    </div>

    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-submenu nzTitle="Maestro"
            *ngIf="currentEmpleado.data.tipoUsuario.tipId==5 || currentEmpleado.data.tipoUsuario.tipId==3 || currentEmpleado.data.tipoUsuario.tipId==2">
            <ul>
              <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/empleado">Empleados</a></li>
              <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/censo">Censo</a></li>
              <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/zona">Zona</a></li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Proceso" *ngIf="currentEmpleado.data.tipoUsuario.tipId==4">
            <ul>
              <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/censo">Registro Censo</a></li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
