<app-title-header [title]="'LISTA DE CENSOS'"></app-title-header>

<div style="padding: 2rem 0 2rem 0; text-align: right;">
  <button nz-button ngClass="btnGreen" [nzType]="'primary'" [nzSize]="14" nzShape="round"
    (click)="showModal()"><span>Nuevo Censo</span></button>
</div>

<nz-alert *ngIf="isVisibleAlert==true" nzType="warning" nzMessage="Warning"
  nzDescription="No se puede ingresar un censo, ya que existe uno en progreso o pendiente" nzShowIcon nzCloseable>
</nz-alert>

<div nz-row *ngIf="visibleTable==false">
  <div nz-col nzSpan="24" style="text-align: center; ">
    <img src="./../../../assets/imagenes/personal_data_.svg" style="height: 50%; width:50%">
    <h3 class="msgError">No hay censo pendiente</h3>
  </div>
</div>

<nz-table *ngIf="visibleTable==true" #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzLoading]="loading">
  <thead>
    <tr>
      <th nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>F. Inicio</th>
      <th>F. Fin</th>
      <th>Author</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{data.nomCenso}}</td>
      <td>{{data.fechaIni}}</td>
      <td>{{data.fechaFin}}</td>
      <td>{{data.creoCenso.nombres}}</td>
      <td>{{data.estado == 1?"Pendiente": data.estado ==2? "Activo" : "Terminado"}}</td>
      <td>
        <button nz-button nzType="default" (click)="editCenso(data.idCenso)">Editar</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzDanger (click)="deleteCenso(data.idCenso)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>


<nz-modal [(nzVisible)]="isVisible" nzTitle="NUEVO CENSO" nzWidth="600px" nzAutofocus="'ok'"
  (nzOnCancel)="handleCancel()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnOk)="handleOk()">
  <ng-template #modalTitle>
    REGISTRO DE CENSO
  </ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()" [nzLayout]="'horizontal'">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dni" nzRequired>Nombre</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="dni" formControlName="nomCenso">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>F. Inicio</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker [nzFormat]="dateFormat" formControlName="fechaIni"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>F. Fin</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker [nzFormat]="dateFormat" formControlName="fechaFin"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class=" register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Registrar</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>
