<head>

</head>

<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
          <img src="../../../../assets/imagenes/logo.png" alt="Logo">
        </div>

        <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <span class="login100-form-title">
            Inicio de Sesión
          </span>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="text" formControlName="username" name=" username" placeholder="Usuario">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <img src="../../../../assets/imagenes/user.svg" style="width: 1.5rem;">
            </span>
          </div>
          <div *ngIf="submitted && f.username.errors" style="color: red; text-align: center;">
            <div *ngIf="f.username.errors.required">El usuario es requerido</div>
          </div>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="password" formControlName="password" name="pass" placeholder="Contraseña">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <img src="../../../../assets/imagenes/lock.svg" style="width: 1.5rem;">
            </span>
          </div>
          <div *ngIf="submitted && f.password.errors" style="color: red; text-align: center;">
            <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
          </div>

          <div *ngIf="error" style="color: red; text-align: center;">Usuario o Contraseña Invalida</div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Login
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- <script src="js/main.js"></script> -->
</body>
