<app-title-header [title]="'LISTA DE EMPLEADOS'"></app-title-header>
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzLoading]="loading">
  <thead>
    <tr>
      <th nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Tipo Usuario</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{data.nombres}}</td>
      <td>{{data.tipoUsuario.tipo}}</td>
      <td>{{data.estado == 1?"Activo":"Inactivo"}}</td>
      <td>
        <button nz-button nzType="default" (click)="editEmpleado(data.dniEmpleado)">Editar</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzDanger (click)="deleteEmpleado(data.dniEmpleado)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <input type="text" nz-input placeholder="Search name" [disabled]="true" [(ngModel)]="searchValue" />
  <p>Content two</p>
  <p>Content three</p>
  <p>Content three</p>
</nz-modal>
