<app-title-header [title]="'LISTA DE EMPLEADOS'"></app-title-header>

<div style="padding: 2rem 0 2rem 0; text-align: right;">
  <button *ngIf="newEmpleado ==true" nz-button [nzType]="'primary'" class="btnGreen" (click)="showModal()"><span>Nuevo
      Empleado</span></button>
</div>

<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzLoading]="loading">
  <thead>
    <tr>
      <th nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Tipo Usuario</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{data.nombres}}</td>
      <td>{{data.tipoUsuario.tipo}}</td>
      <td>{{data.estado == 1?"Activo":"Inactivo"}}</td>
      <td>
        <button nz-button nzType="default"
          (click)=" tipEmpleado== 3 ? asignarEmpleadoDirecto(data.dniEmpleado) :   asignarEmpleado(data.dniEmpleado)">Asignar</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzDanger (click)="deleteEmpleado(data.dniEmpleado)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
<!-- MODAL  PARA CREAR UN NUEVO EMPLEADO-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="NUEVO EMPLEADO" nzWidth="600px" nzAutofocus="'ok'"
  (nzOnCancel)="handleCancel()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnOk)="handleOk()">
  <ng-template #modalTitle>
    REGISTRO DE EMPLEADO
  </ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()" [nzLayout]="'horizontal'">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dni" nzRequired>DNI EMPLEADO</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" name="maxlength" [nzErrorTip]="combineTpl" nzHasFeedback>
          <input nz-input id="dni" formControlName="dniEmpleado" minlength="8" maxlength="8" pattern="^[0-9]+" required>
          <ng-template #combineTpl let-control>
            <ng-container *ngIf="control.hasError('minlength')">8 caracteres minimos</ng-container>
            <ng-container *ngIf="control.hasError('required')">El Campo es requerido</ng-container>
            <ng-container *ngIf="control.hasError('pattern')"> Solo números porfavor</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- <p class="errorInput" *ngIf="dniEmpleado.errors.required">
        El dni es requerido
      </p>
      <p class="errorInput" *ngIf="dniEmpleado.errors.maxLength">
        La cantidad maxima es 8
      </p> -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nombres" nzRequired>Nombres</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorNombre">
          <input nz-input id="nombres" formControlName="nombres" required />
          <ng-template #errorNombre let-control>
            <ng-container *ngIf="control.hasError('required')">El campo es requerido</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="celular">Celular</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="celular" id="celular" nz-input maxlength="9" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="correo">Correo</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorEmail">
          <input nz-input formControlName="correo" id="correo" />
          <ng-template #errorEmail let-control>
            <ng-container *ngIf="correo.errors.pattern">Ejemplo correo@correo.com</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sexo">Sexo</nz-form-label>
        <nz-select formControlName="sexo" class="phone-select">
          <nz-option nzLabel="MASCULINO" nzValue="M"></nz-option>
          <nz-option nzLabel="FEMENINO" nzValue="F"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item formGroupName="tipoUsuario">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tipId" nzRequired>Tipo Usuario</nz-form-label>
        <nz-select formControlName="tipId" style="width: 12rem;" required>
          <nz-option *ngFor="let tipo of listOfTipo" [nzLabel]="tipo.tipo" [nzValue]="tipo.tipId"></nz-option>
          <!--<nz-option nzLabel="Femenino" nzValue="F"></nz-option>
          <nz-option nzLabel="Masculino" nzValue="M"></nz-option>-->
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="direccionDomicilio">Direccion</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese su Direccion">
          <input nz-input formControlName="direccionDomicilio" id="direccionDomicilio" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="base64Img">Foto</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="file" id="base64Img" (change)="changeListener($event)" />
          <img class="avatar-uploader" [src]="imageSource" *ngIf="loadingIMG"
            style="width: 80%;margin:2rem; border:0.1rem solid; border-style: dashed;">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class=" register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Register</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>


<!---   MODAL ASIGNAR   ------>
<nz-modal [(nzVisible)]="isVisibleAsignar" nzTitle="ASIGNAR PERSONAL" nzWidth="600px" nzAutofocus="'ok'"
  (nzOnCancel)="handleCancelAsignar()" [nzTitle]="modalTitleAsignacion" [nzContent]="modalContentAsignacion"
  [nzFooter]="modalFooterAsignacion" (nzOnOk)="handleOkAsignar()">
  <ng-template #modalTitleAsignacion>
    ASIGNAR PERSONAL
  </ng-template>
  <ng-template #modalContentAsignacion>
    <form nz-form [formGroup]="registerAsignacion" (ngSubmit)="onSubmitAsignar()" [nzLayout]="'horizontal'">
      <nz-form-item formGroupName="zona">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="zona" nzRequired>Zonas</nz-form-label>
        <nz-select formControlName="idZona" style="width: 12rem;">
          <nz-option *ngFor="let zona of listOfZona" [nzLabel]="zona.zonas" [nzValue]="zona.idZona"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item formGroupName="censo">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tipId" nzRequired>Censos</nz-form-label>
        <nz-select formControlName="idCenso" style="width: 12rem;">
          <nz-option *ngFor="let censo of listOfCenso" [nzLabel]="censo.nomCenso" [nzValue]="censo.idCenso"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item nz-row class=" register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Register</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooterAsignacion>
  </ng-template>
</nz-modal>
